@model CarListViewModel
@{
    ViewData["Title"] = "Models";
}
<div class="btn-group-justified">
    <a class="btn btn-info" asp-controller="Car" asp-action="Index" asp-route-id="#">Home</a>
    <a class="btn btn-info" asp-controller="Car" asp-action="Create" asp-route-id="Create">Voeg een nieuwe auto toe</a>
    <a class="btn btn-info" asp-controller="Car" asp-action="Owners" asp-route-id="Owners">Filter op eigenaars</a>
    <a class="btn btn-info" asp-controller="Car" asp-action="Models" asp-route-id="Models">Filter op Modellen</a>
</div>
<br />
<div>
    
        @foreach(var cartype in Model.Cartypes)
        {   <div class="list-group-item">
            <h1>@cartype.FullType</h1>
            @foreach(var car in Model.Cars)
            {
                @if (car.Cartype == cartype.FullType)
                {
                    <hr />
                    <div>
                        <h3>Auto nummer @car.Id</h3>
                        <ul>
                            <li>Huidige Eigenaar: @car.Owner</li>
                            <li>Kleur: @car.Color</li>
                            <li>Aangekocht op: @car.Buydate</li>
                            <li>Nummerplaat: @car.Plate</li>
                        </ul>
                        <a class="btn btn-warning" asp-controller="Car" asp-action="Edit" asp-route-id="@car.Id">Bewerk auto</a>
                        <a class="btn btn-danger" asp-controller="Car" asp-action="Delete" asp-route-id="@car.Id">Verwijder auto</a>
                    </div>
                   
                }

            }
            </div>
        }
    
</div>
